.product-content-incate{
    .name-category{
        font-size: 37px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 100px;
     overflow: hidden;
            &:after{
            content: "";
            top: 20px;
            display: block;
            height: 0.5em;
          
            width:300px;
         
            margin-left: 38%;
            border-bottom: 2px solid black;
            }
    
    }
    padding: 50px;
   
    display: flex;
    justify-content: center;
    align-items: center;
   
   
    .product-item{
         cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
         &:hover{
        border: 1px solid rgb(80, 255, 238);
        box-shadow: 1px 1px 1px rgb(141, 139, 139);
    }
        .product-image{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 300px;
            img{
                width: 60%;
                
            }
        }
    }
}